.section {
  color: #fff;
  background-color: #373737;
  margin-top: 3rem;
  padding: 5rem;
}

.section__container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.section__grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .section__grid {
    grid-template-columns: repeat(4, 2fr);
  }
}

.section__square {
  width: 17rem;
  height: 17rem;
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
